# Compiler files
cache/
out/

# Ignores development broadcast logs
/broadcast
/reports

# Docs
docs/

# Dotenv file
.env
.env.*
!.env.example

# Libraries
lib/
!test/lib

# Coverage
coverage/

# Local files
.vscode/
.cursorignore
.DS_Store
